* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "FrutigerLTArabic";
  src: url("../fonts/FrutigerLTArabic-45Light.otf");
  src: url("../fonts/FrutigerLTArabic-Light.eot") format("embedded-opentype"),
    url("../fonts/FrutigerLTArabic-Light.woff2") format("woff2"),
    url("../fonts/FrutigerLTArabic-45Light.woff") format("woff"),
    url("../fonts/FrutigerLTArabic-Light.ttf") format("truetype"),
    url("../fonts/FrutigerLTArabic-45Light.svg") format("svg");
  font-display: swap;
}

body {
  direction: rtl;
  text-align: right;
  overflow-x: hidden;
  font-family: "FrutigerLTArabic", sans-serif;
}

h4 {
  line-height: 1.5em;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  max-width: 90%;
}

a {
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

.btn:focus {
  box-shadow: none;
}

.btn {
  border: 0;
  padding: 0.5rem 1rem 0.8rem 1rem;
  font-size: 1.1em;
}

.select-time .btn,
.select-date .btn,
.select-time .btn:hover,
.select-date .btn:hover {
  color: #0096af !important;
}

svg {
  vertical-align: middle !important;
}

button {
  outline: 0;
}

ul {
  list-style: none;
}

:focus,
:active,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  outline: none;
  border: 0;
  box-shadow: 0 0 0 0 transparent;
}

.form-control {
  padding: 1.5rem 1rem;
  border: 0;
  border-bottom: 1px solid rgba(0, 149, 175, 0.3);
  border-radius: 5rem;
}

.custom-select {
  border: 0;
  border-bottom: 1px solid rgba(0, 149, 175, 0.3);
  border-radius: 5rem;
}

.form-control:focus,
.custom-select:focus {
  outline: 0;
  box-shadow: none;
}

.b-form-btn-label-control.form-control > .dropdown-menu {
  outline: none;
  box-shadow: none;
  border: 0;
}

.divider {
  height: 90px;
}

.section {
  padding: 3rem 0;
}

.relative {
  position: relative;
}

.section-title {
  position: relative;
  width: 40%;
  margin: auto;
  padding: 0.5rem 0;
  margin-bottom: 4rem;
}

/* .section-title::before {
  position: absolute;
  content: "";
  background: url("../images/icons/left-quote.svg");
  background-size: 6rem;
  background-repeat: no-repeat;
  top: 0;
  left: 5%;
  width: 30%;
  height: 100%;
}

.section-title::after {
  position: absolute;
  content: "";
  background: url("../images/icons/right-quote.svg");
  background-size: 6rem;
  background-repeat: no-repeat;
  top: 0;
  right: 5%;
  width: 30%;
  height: 100%;
} */

.section-title h4 {
  background: -webkit-linear-gradient(#0096af, rgb(0, 150, 175, 0.5));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}

.top-svg svg,
.bottom-svg svg {
  position: absolute;
  height: 40%;
  width: 100%;
  left: 0;
  fill: #0096af;
}

.nav-svg svg {
  fill: #fff;
  z-index: 2;
  top: -98%;
}

.top-svg svg {
  bottom: 99%;
}

.bottom-svg svg {
  top: 99%;
  transform: rotate(180deg);
}

.action-btn {
  border: 0;
  background: transparent;
  background-image: linear-gradient(to left, #0096af, #0093ad80);
  color: #fff !important;
  border-radius: 5rem;
  padding: 0.6rem 2rem;
  padding-top: 0.3rem;
  margin-top: 1rem;
}

.action-btn svg {
  color: #fff;
  margin-left: 0.5rem;
}
