* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "FrutigerLTArabic";
  src: url("../fonts/FrutigerLTArabic-45Light.otf");
  src: url("../fonts/FrutigerLTArabic-Light.eot") format("embedded-opentype"),
    url("../fonts/FrutigerLTArabic-Light.woff2") format("woff2"),
    url("../fonts/FrutigerLTArabic-45Light.woff") format("woff"),
    url("../fonts/FrutigerLTArabic-Light.ttf") format("truetype"),
    url("../fonts/FrutigerLTArabic-45Light.svg") format("svg");
  font-display: swap;
}

body {
  direction: rtl;
  text-align: right;
  overflow-x: hidden;
  font-family: "FrutigerLTArabic", sans-serif;
}

h4 {
  line-height: 1.5em;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  max-width: 90%;
}

a {
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

svg {
  vertical-align: middle !important;
}

button {
  outline: 0;
}

ul {
  list-style: none;
}

:focus,
:active,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  outline: none;
  border: 0;
  box-shadow: 0 0 0 0 transparent;
}

.form-control {
  padding: 1.5rem 1rem;
  border: 0;
  border-bottom: 1px solid #0096af;
}

.custom-select {
  border: 0;
  border-bottom: 1px solid #0096af;
}

.form-control:focus,
.custom-select:focus {
  outline: 0;
  box-shadow: none;
}

.divider {
  height: 100px;
}

.section {
  padding: 5rem 0;
}

.relative {
  position: relative;
}

.flex-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}

.bottom-shape,
.top-shape {
  position: absolute;
  width: 100%;
  z-index: 8;
}

.bottom-shape {
  top: 100%;
}

.top-shape {
  bottom: 100%;
}

.bottom-shape img,
.top-shape img {
  height: 5rem;
}

.action-btn {
  border: 0;
  background: transparent;
  background-image: linear-gradient(to left, #0096af, rgba(0, 147, 173, 0.5));
  color: #fff !important;
  border-radius: 5rem;
  padding: 0.6rem 2rem;
  padding-top: 0.3rem;
  margin-top: 1rem;
}
