* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "FrutigerLTArabic";
  src: url("../fonts/FrutigerLTArabic-45Light.otf");
  src: url("../fonts/FrutigerLTArabic-Light.eot") format("embedded-opentype"),
    url("../fonts/FrutigerLTArabic-Light.woff2") format("woff2"),
    url("../fonts/FrutigerLTArabic-45Light.woff") format("woff"),
    url("../fonts/FrutigerLTArabic-Light.ttf") format("truetype"),
    url("../fonts/FrutigerLTArabic-45Light.svg") format("svg");
  font-display: swap;
}

body {
  position: relative;
  direction: rtl;
  text-align: right;
  overflow-x: hidden;
  font-family: "FrutigerLTArabic", sans-serif;
}

.contact .form-control::-webkit-input-placeholder {
  color: #fff !important;
  opacity: 1;
}

.contact .form-control:-ms-input-placeholder {
  color: #fff !important;
  opacity: 1;
}

.contact .form-control::-ms-input-placeholder {
  color: #fff !important;
  opacity: 1;
}

.contact .form-control::-moz-placeholder {
  color: #fff !important;
  opacity: 1;
}

.contact .form-control::placeholder {
  color: #fff !important;
  opacity: 1;
}

.contact .form-control:-ms-input-placeholder {
  color: #fff !important;
}

.contact .form-control::-ms-input-placeholder {
  color: #fff !important;
}

h4 {
  line-height: 1.5em;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  max-width: 90%;
}

a {
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  border: 0;
  padding: 0.4rem 1.5rem 0.7rem 1.5rem;
  font-size: 1.1em;
}

.btn svg {
  margin-left: 0.5rem;
}

.select-time .btn,
.select-date .btn,
.select-time .btn:hover,
.select-date .btn:hover {
  color: #11799a !important;
}

svg {
  vertical-align: middle !important;
}

button {
  outline: 0;
}

ul {
  list-style: none;
}

:focus,
:active,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  outline: none;
  border: 0;
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}

.form-control {
  background: transparent !important;
  border: 1px solid #fff;
  border-radius: 5rem;
  padding: 1.5rem 1rem;
  color: #fff !important;
}

.custom-select {
  border: 0;
  border-bottom: 1px solid rgba(0, 149, 175, 0.3);
}

.form-control:focus,
.custom-select:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.b-form-btn-label-control.form-control > .dropdown-menu {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}

.divider {
  height: 70px;
}

.section {
  padding: 5rem 0;
}

.relative {
  position: relative;
}

.kahhal-name h4 {
  font-size: 13em;
}

.section-title {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 0.5rem 0;
  margin-bottom: 4rem;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.none {
  display: none;
}

.action-btn {
  position: relative;
  border: 0;
  background: #fff !important;
  color: #11799a !important;
  font-weight: bold;
  border-radius: 5rem;
  padding: 0.6rem 2rem;
  padding-top: 0.3rem;
  margin-top: 1rem;
}

.action-btn svg {
  color: #11799a;
  margin-left: 0.5rem;
}

.bootom_svg,
.top__svg {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
}

.bottom-svg {
  top: 100%;
}

.top__svg {
  bottom: 100%;
}

.hooper {
  height: 100% !important;
}

.hooper-next,
.hooper-prev {
  position: static !important;
  -webkit-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  transform: translateY(0) !important;
  border-radius: 50%;
  margin-top: 2rem;
  padding: 0.6em !important;
}

.hooper button {
  outline: none;
}

.hooper-prev {
  background: #11799a !important;
  margin-left: 1rem;
}

.hooper-next {
  border: 1px solid #11799a !important;
}

.hooper-prev svg {
  fill: #fff;
}

.hooper-next svg {
  fill: #11799a;
}

.slider-btns {
  color: #5c5d5e;
  font-size: 1.1em;
}

.slider-btns button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #11799a;
  outline: none;
}

.prev {
  background: #11799a;
  color: #fff;
  margin: 0 0.4rem;
}

.next {
  background: transparent;
  color: #11799a;
}

.slider-btns svg {
  font-size: 1.5em;
}

@media (min-width: 992px) and (max-width: 1183px) {
}

@media (min-width: 768px) and (max-width: 991px),
  screen and (min-width: 320px) and (max-width: 767px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 98%;
  }

  .navbar .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 100%;
  }

  .divider {
    height: 30px;
  }

  .section {
    padding: 2rem 0;
  }

  .section-title {
    width: 100%;
    margin-bottom: 3rem;
  }

  .home h4 {
    margin-bottom: 0;
  }

  .home .form {
    margin-top: 2rem;
  }

  .kahhal-name h4 {
    font-size: 4em;
  }
}
